{% extends "header.html" %}
{% block title %}Cab Details{% endblock %}
{% block body %}
<div class="container" style="margin-bottom: 20px">
	<div class="content">
		<div class="row">
		
			<div class="col-md-6" style="text-align: left;">
				<h1>{{cab[6]}} to {{cab[7]}}</h1>
				
				</div>
				<div class="col-md-6"><h3>Date : {{cab[3]}}</h3>
					<h3>Time : {{cab[4]}}</h3>
				</div>
				
				<div class="col-md-6"> <h3>Seats Available : {{cab[5]}}</h3></div>
				<div class="col-md-6"><h3>Price : <i class="fa fa-rupee"></i> {{cab[8]}}</h3></div>
					
			</div>	
		</div>
		<hr>
	<div class="content"  >
		<h2>Contact Details</h2>
		<div class="row">
			<div class="col-md-4">
				<h3>Name : </h3>
				<h3>Email-Id :</h3>
				<h3>Phone Number : </h3>  
			</div>
			<div class="col-md-4">
				<h3> {{user[1]}}</h3>
				<h3>{{user[2]}}</h3>
				<h3>9950251130</h3>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<hr>
	<div class="content"  >
		<div class="row">
			<div class="col-md-12">
				<h1>Leave a Reply</h1>
			</div>
			<div class="col-md-12">
				<form method="Post" action="" style="margin-right: 10px;border-left: 0px solid black">
				<br>
				<textarea name="comment" rows="2" cols="130" required></textarea>
				<br>
				<h3><input type="submit" name="btn" value="Add-Comment"></h3>
			</form>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12" style="text-align: center;"><h1>Comments</h1></div>
				
				{% for comment in comments%}
				<div class="row">
				<div class="col-md-4"><h4>By: {{comment[1]}}</h4></div>
				<div class="col-md-4"><h5>{{comment[3]}}</h5></div>
				<div class="col-md-4"> {{comment[4]}}</div>
				<div class="col-md-8"></div>
				<div class="col-md-4"><a href="{{url_for('delete_comment_cab', comment_id = comment[0])}}">Delete comment</a></div>
				</div>
				{%endfor%}
			</div>
		</div>
	</div>
</div>
	
	
<hr>
{% endblock %}