{% extends "header.html" %}
{% block title %}Post Details{% endblock %}
{% block body %}
<div class="container" style="margin-bottom: 20px">
	<div class="content">
		<div class="row">
			<div class="col-md-6" style="border-right: 0px solid black">
				<img class="img-responsive" src="https://www.w3schools.com/bootstrap/paris.jpg">
			</div>
			<div class="col-md-6" style="text-align: center;">
				<h1>{{post[3]}}</h1>
				
				<h2>{{post[4]}}</h2>
				<br>
				<h4>Price: {{post[5]}}</h4>
				<br>
				<h5>Seller : {{user[3]}}</h5>
			</div>	
		</div>

	</div>
	<hr>
	<div class="content">
		<h2>Contact Details</h2>
		<div class="row">
			<div class="col-md-4">
				<h3>Name : </h3>
				<h3>Email-Id :</h3>
				<h3>Phone Number : </h3>  
			</div>
			<div class="col-md-4">
				<h3> {{user[1]}}</h3>
				<h3>{{user[2]}}</h3>
				<h3>9950251130</h3>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
</div>
<hr>
{% endblock %}