{% extends "header.html" %}
{% block title %}Post form{% endblock %}
{% block body %}
<h1>Post form for {{session['user']}}</h1>
<form method="Post" action="/post_form" enctype="multipart/form-data">
	TITLE<input type="text" name="title"required/>
	<br>
	Description <textarea name="description" rows="20" cols="50" required></textarea>
	<br>
	Price <input type="number" name="price"required/>
	<br>
	<!-- Upload Image <input type="file" name="image"/>
	<br> -->

	<input type="submit" name="Post" value="post">
</form>
{% endblock %}
