{% extends "header.html" %}
{% block title %}Post Details{% endblock %}
{% block body %}
<div class="container" style="margin-bottom: 20px">
	<div class="content">
		<div class="row">
			<div class="col-md-6" style="border-right: 0px solid black">
				<img class="img-responsive " src="/static/{{post[6]}}" style="width: 100%;height: auto;max-height: 500px">
			</div>
			<div class="col-md-6" style="text-align: center;">
				<h1>{{post[3]}}</h1>
			
				<h3>{{post[4]}}</h3>
			
				<h3>Price: <i class="fa fa-rupee"></i> {{post[5]}}</h3>
				
				<h3>Seller : {{user[3]}}</h3>
				<h5>Uploaded : {{post[8]}}</h5>
			</div>	
		</div>

	</div>
	<hr>
	<div class="content">
		<h2>Contact Details</h2>
		<div class="row">
			<div class="col-md-4">
				<h3>Name : </h3>
				<h3>Username : </h3>
				<h3>Email-Id :</h3>
				<h3>Phone Number : </h3>  
			</div>
			<div class="col-md-4">
				<h3> {{user[1]}}</h3>
				<h3> {{user[3]}}</h3>
				<h3>{{user[2]}}</h3>
				<h3>{{user[5]}}</h3>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>
	<div class="content">
		<div class="row">
			<div class="col-md-12">
				<h1>Leave a Reply</h1>
			</div>
			<div class="col-md-12">
				<form method="Post" action="" style="margin-right: 10px;border-left: 0px solid black">
				<br>
				<textarea name="comment" rows="2" cols="130" required></textarea>
				<br>
				<h3><input type="submit" name="btn" value="Add-Comment"></h3>
			</form>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-12" style="text-align: center;"><h1>Comments</h1></div>
				
				{% for comment in comments%}
				<div class="row">
				<div class="col-md-4"><h4>By: {{comment[1]}}</h4></div>
				<div class="col-md-4"><h5>{{comment[3]}}</h5></div>
				<div class="col-md-4"> {{comment[4]}}</div>
				<div class="col-md-8"></div>
				<div class="col-md-4"><a href="{{url_for('delete_comment', comment_id = comment[0])}}">Delete comment</a></div>
				</div>
				{%endfor%}
			</div>
		</div>
	</div>
</div>
<hr>
{% endblock %}