
{% extends "header.html" %}
{% block title %}Profile Page{% endblock %}
{% block bell %}
	<li><a href="#" id="not"><span class="glyphicon glyphicon-bell"></span> </a></li>
		
 {% endblock %}
 {% block notify %}
		{% for n in notify%}
		<div class="row">
			<div class="col-md-4"><h6>{{n[3]}}</h6></div> 
			<div class="col-md-6"><h5>{{n[2]}}</h5></div>
			<div class="col-md-2"> <a href="{{n[4]}}">Visit</a></div>
		</div>
		<hr>
		{% endfor %}
		<div class="row" style="text-align: center;"><a href="/profile/control"> See All</a></div>
		
 {% endblock %}		
{% block body %}
{%if session['user'] %}

<div class="container">
		<div class="content" > 
			
			<div class="row">
	{% if Posts %}
	<h2>Posts by {{ session['user'] }}</h2>
	{%for post in Posts%}
	
			<div class="col-md-4  " style="margin-bottom: 10px; text-align: center;">
				<div   style="border: 1px solid gray;padding: 0px">
				<img class="img-responsive" src="/static/{{post[6]}}">
				<h1>{{post[3]}}</h1>
				<p>{{post[4]}}</p>
				
					<h3>Price : <i class="fa fa-rupee"></i> {{post[5]}}</h3>
					<a href="/post_details/{{post[0]}}"><button>Buy</button></a>
				<a href="/delete_post/{{post[0]}}"><button>Delete</button></a>
				 
				
			</div>
			</div>
	
	{% endfor %}
	{% else %}
	 <h2>No items posted yet</h2>
	{% endif %}
			</div>
		</div>
		<div class="content" > 
			
			<div class="row">
	{% if Cabs %}
	<h2>Cab Sharing by {{ session['user'] }}</h2>
	{%for share in Cabs%}
			<div class="col-md-4  " style="margin-bottom: 10px; text-align: center;">
					<div   style="border: 1px solid gray;padding: 5px">
					
					<h1>{{share[6]}} to {{share[7]}}</h1>
					<h3>By : {{share[1]}}</h3>
					<h3>Date : {{share[3]}}</h3>
					<h3>Time : {{share[4]}}</h3>
					<h3>Seats Available : {{share[5]}}</h3>
						<h3>Price : <i class="fa fa-rupee"></i> {{share[8]}}</h3>
					<a href="/cab_details/{{share[0]}}"><button>Details</button></a>
					<a href="/delete_cab/{{share[0]}}"><button>Delete</button></a>
					</div>
				</div>
			
	
	{% endfor %}
	{% else %}
	<h2>No cab sharing posted yet</h2>
	{% endif %}
			</div>
		</div>
	</div>
<br>

{% else %}

<div class="container">
	<h1>  login</h1>
<form method="Post" action="">
Username <input type="text" name="username"/>
<br>
Password <input type="Password" name="password"/>
<br>
<input type="submit" name="Post" value="login"/>
</form>
</div>
{%endif%}
<script type="text/javascript">
	$(document).ready(function(){
	    $("#post_btn").click(function(){
	        $("#comment_cab").hide();
	        $("#comment_post").show();
	    });
	    $("#cab_btn").click(function(){
	        $("#comment_cab").show();
	        $("#comment_post").hide();
	    });
	    $("#not").click(function(){
	    	$("#bell").toggle();

	    });
});
</script>
{% endblock %}
<!-- <td><img src='{{post[6]}}'> -->
			<!-- <td>{{post[5]}}</td>
			<td>{{post[4]}}</td>
			<td>{{post[3]}}</td>
		 </tr><br> -->