{% extends "header.html" %}
{% block title %}Sharing Home{% endblock %}
{% block body %}


<div class="container" style="margin-bottom: 20px">
	
	<div class="content">
		<h1>Available Cab Sharing</h1>
		<div class="row">
			{% for share in sharing %}
				<div class="col-md-4  " style="margin-bottom: 10px; text-align: center;">
					<div   style="border: 1px solid gray;padding: 5px">
					
					<h1>{{share[6]}} to {{share[7]}}</h1>
					<h3>By : {{share[1]}}</h3>
					<h3>Date : {{share[3]}}</h3>
					<h3>Time : {{share[4]}}</h3>
					<h3>Seats Available : {{share[5]}}</h3>
						<h3>Price : <i class="fa fa-rupee"></i> {{share[8]}}</h3>
					
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}
