{% extends "header.html" %}
{% block title %}Sharing Home{% endblock %}
{% block body %}


<div class="container" style="margin-bottom: 20px">
	<div class="content">
	<div class="row">
	<div class="col-md-6">
		<form method="POST">
				<div class="form-group">
		      <label>Search By Date:</label>
		      <input type="date" name="date"required/>
		      <button type="submit" name="btn" value="search"><i class="fa fa-search"></i></button>
      </form>
  </div>
  	</div>
  	<div class="col-md-6">
  		<a href="/sharing_index"><h3>Show all</h3> </a>
  	</div>

  	</div>
  		<hr>
	
		
		<div class="row">
			<h1>Available Cab Sharing {%if date %} on {{date}}{%endif%}</h1>
			{% for share in sharing %}
				<div class="col-md-4  " style="margin-bottom: 10px; text-align: center;">
					<div   style="border: 1px solid gray;padding: 5px">
					
					<h1>{{share[6]}} to {{share[7]}}</h1>
					<h3>By : {{share[1]}}</h3>
					<h3>Date : {{share[3]}}</h3>
					<h3>Time : {{share[4]}}</h3>
					<h3>Seats Available : {{share[5]}}</h3>
						<h3>Price : <i class="fa fa-rupee"></i> {{share[8]}}</h3>
					<a href="/cab_details/{{share[0]}}"><button>Details</button></a>
					</div>
				</div>
			{% endfor %}
			{% if not sharing%}
			<h2>No cab sharing {%if date %} on {{date}}{%endif%} posted on server yet</h2>
			{%endif%}
		</div>
	</div>
</div>

{% endblock %}
