{% extends "header.html" %}
{% block title %}Sharing Form{% endblock %}
{% block body %}
<h1>Sharing form for {{session['user']}}</h1>
<form method="Post" action="/sharing_form" enctype="multipart/form-data">
	Date of Journey<input type="date" name="date"required/>
	<br>
	Time of Journey [hour:minute AM/PM]<input type="time" name="time"required/>
	<br>
	Seats Available<input type="number" name="seats"required/>
	<br>
	Source<input type="text" name="source"required/>
	<br>
	Destination<input type="text" name="destination"required/>
	<br>
	Price <input type="number" name="price"required/>
	<br>
	<!-- Upload Image <input type="file" name="image"/>
	<br> -->

	<input type="submit" name="Post" value="post">
</form>
{% endblock %}
